<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gala.com.kidstv">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name="gala.com.kidstv.UrTubeApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/GalaTheme"
        android:screenOrientation="portrait"
        android:supportsRtl="true">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713"/>

        <activity
            android:name="gala.com.kidstv.kidsLauncher.GEKidsLauncherActivity"
            android:theme="@style/SplashTheme"
            android:screenOrientation="portrait"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="urtube.com" android:scheme="http"/>
                <data android:host="urtube.com" android:scheme="https"/>
            </intent-filter>

        </activity>
        <activity
            android:name="gala.com.kidstv.GEIntroActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="gala.com.kidstv.GEMainMenuActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="gala.com.kidstv.TARGETNOTIFICATION"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
                </intent-filter>

        </activity>

        <activity android:name="gala.com.kidstv.GEPlaylist.GEPlaylistVideolistActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="gala.com.kidstv.SettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            />
        <activity android:name="gala.com.kidstv.GEThemeActvity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            />
        <activity android:name="gala.com.kidstv.GEWebView.WebViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            />
        <activity android:name="gala.com.kidstv.GEPlayer.GEPlayerActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"
            >

        </activity>

        <activity android:name="gala.com.kidstv.Refactored.GEAppMainActiviry"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="gala.com.kidstv.TARGETNOTIFICATION"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
            </intent-filter>

        </activity>


        <!-- Firebase Notifications -->
        <service android:name="gala.com.kidstv.firebase.MyFirebaseMessagingService" android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"
                    android:stopWithTask="false"/>
            </intent-filter>
        </service>

        <service android:name="gala.com.kidstv.firebase.MyFirebaseInstanceIDService" android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <!-- ./Firebase Notifications -->

    </application>

</manifest>