<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.com.galatube">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".GELauncherActivity"
            android:label="Gala Eye">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GEIntroActivity"
            android:noHistory="true"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".GEMainMenuActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".GEPlaylist.GEPlaylistVideolistActivity" />
        <activity android:name=".SettingActivity" />
        <activity android:name=".GEThemeActvity" />
        <activity android:name=".GEWebView.WebViewActivity" />
        <activity android:name=".GEEventPlayActivity"></activity>
    </application>

</manifest>